{% load static %}
{% block content%}

<!-- 
    Author: @DeanLogan
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/fosterCareImg.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
    <body>
        <main>
            <!-- This is for the sidebar/navigation, this will change depending on the access levels the user has. -->
            <div class="sidebar" id="menu">
                <div class="toggleButton">
                    <p><span class="closebtn" onclick="navToggleOnChatPage()">&#9776;</span>&nbsp;&nbsp;</p>
                </div>
                <br />
                <div id="menu-items">
                    <a href="/" class="menu-item">Home</a>
                    <a href="/settings", target="_parent" class="menu-item">Settings</a>
                    {% if user.is_authenticated %}
                        {% if user.is_authenticated and user.username == "admin" %}
                            <a href="/admin" class="menu-item">Admin Page</a>
                        {% else %}
                            <a href="/chat" class="menu-item">Chat</a>
                            <a href="/gallery" class="menu-item">Gallery</a>
                            <a href="/journal" class="menu-item">Journal</a>
                        {% endif %}
                        <a onclick="logout()" class="menu-item">Logout</a>

                    {% else %}
                        <a href="/login" class="menu-item">Login</a>
                    {% endif %}
                </div>
                <div id="menu-background-pattern"></div> <!-- this is for the dots that appear in the background of the side bar -->
            </div>

            <div class="content">
                <div>
                    <img src="{% static 'assets/img/fosterCareImg.png' %}" alt="logo" />
                    <h1>Social worker chat</h1>
                </div>
                
                <div class="chat"></div> <!-- this div will be populated with the chat bubbles as the user or chat communicate with each other -->
            </div>
            
            <div class="bottom-bar">
                <textarea autocomplete="chrome-off" id="userInput" type="text" required placeholder="ENTER TEXT"></textarea>
            </div>

        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'assets/js/general.js' %}"></script>
        <script src="{% static 'assets/js/chatPage.js' %}"></script>
    </body>
</html>

{% endblock %}